.Rproj.user
.Rhistory
.RData
.Ruserdata
*.json
netlifyctl
R/airedata/*.csv
r-package/r-package/aire.zmvm_cache/*
r-package/r-package/aire.zmvm_files/*
R/timestamps/all_aire_new.html
R/timestamps/all_aire_old.html
R/timestamps/heatmap_aire_new.html
R/timestamps/heatmap_aire_old.html
aire_new.html
aire_old.html
log.txt
log-all.txt
log-heatmap.txt
time.txt
*r-package/r-package/aire.zmvm.html
R/number_of_errors.txt
R/latest/output*
web/data/*.json
R/log*
web/test/*
hoyodesmog-2017-10-27-18
hoyodesmog-2017-10-27-18.ots
web/data
password.txt
web/aire.zmvm/*
web/rsinaica/*
R/output/.firebase
*.cache

# Local Netlify folder
.netlify
